
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


*{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Playfair Display", serif;
  font-style: normal;
}

.content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, auto);
    border: red 1px solid;
}

.header{
    display: grid;
 
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.header__logo{
    width: 30%;
}

.header__list{
    display: grid;

    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.header__list-menu {
    text-align: center;
    color: #11204d;
    border-bottom: 2px solid transparent; /* Borde inferior inicialmente transparente */
    transition: color 0.8s, border-color 0.8s; /* Transiciones de color y borde durante 0.8 segundos con efecto ease */
}

.header__list-menu:hover {
    color: purple; /* Color al hacer hover */
    border-color: purple; /* Color del borde inferior al hacer hover */
}

.welcome{
    padding-top: 10px;
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr;


}


.welcome__text-container{
    width: 100%;
}
.welcome__text{
    font-size: 50px;
}

.welcome__grid-container{
    width: 100%;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    border: 1px solid red;
   

}

.welcome__grid-container-picture{
    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    overflow:hidden;
    max-width: 100%;
  
}

.welcome__picture-scroll{
    display: flex;
    padding-block:1rem;
    display:flex;
    animation: scroll linear 20s infinite;
    gap: 1rem;
    width: max-content;

}




.welcome__picture{
    background: var(--clr-primary-400);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
    width:250px;
 

}



@keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
  .only{
    width: 100%;
    display: grid;
    border: 1px solid red;
    grid-template-columns: 80% 20%;
  }

  .only_text-container{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .only__logo-picture{
    width: 50%;
  }

  .welcome_-text-span{
    color: purple;
  }